<div class="xyz">
<h3 style="text-align:center;">{{project.name}}</h3>
<h4>Members</h4>
<ul>
	<li ng-repeat ="member in project.members">
	<div style="float:left;width:150px">{{member.name}}-</div>
	<div ng-show="member.assign" style="float:left;width:150px;">
	<form ng-submit="show_form(member)">
				<input type="text" class="form-control"  ng-model="member.role" >
					</form>
       </div>
				
	 <div style="float:left;width:150px" ng-hide="member.assign"><i>{{member.role}}</i></div>
	 </br>
	</li>
</ul>
<h4>Options</h4>
<ul>
<li>Mark Important:<input type="checkbox" ng-model="project.important"></li>
<li>Project Completed:<input type="checkbox" ng-model="project.completed"></li>
<li>Set Time:<input type="number" ng-model="project.time_limit">days</li>
<li><button type="button" class="btn btn-danger" ng-click="remove(project)">Delete</button></li>
</ul>
<a href="#">Home</a>
</div>
